Repository andromedaprotocol/andromeda-core, pull requests merged in 2025-03, with the labels that each got.

#809 changed workflow
  .github/workflows/deploy.yml
Labels: ci: skip-changelog

#826 Refactored ibc_direct and ibc_transfer
  contracts/os/andromeda-kernel/src/execute.rs
  contracts/os/andromeda-kernel/src/lib.rs
  contracts/os/andromeda-kernel/src/testing/mod.rs
  contracts/os/andromeda-kernel/src/tests/ibc_direct_tests.rs
  contracts/os/andromeda-kernel/src/tests/ibc_transfer_funds_test.rs
  contracts/os/andromeda-kernel/src/tests/kernel_functional_tests.rs
  contracts/os/andromeda-kernel/src/tests/mod.rs
  contracts/os/andromeda-kernel/src/tests/test_handler.rs
  packages/std/src/amp/messages.rs
  tests/crowdfund_app.rs
Labels: packages/std

#828 fix: build script for updated ibc tests dir
  contracts/fungible-tokens/andromeda-merkle-airdrop/src/interface.rs
  contracts/modules/andromeda-address-list/src/interface.rs
  scripts/build.sh
Labels: ci: skip-changelog, ci: skip-build

#813 feat: Add Optional ID for AMP Packet
  CHANGELOG.md
  Cargo.lock
  contracts/finance/andromeda-rate-limiting-withdrawals/src/contract.rs
  contracts/os/andromeda-kernel/Cargo.toml
  contracts/os/andromeda-kernel/src/execute.rs
  contracts/os/andromeda-kernel/src/ibc.rs
  contracts/os/andromeda-kernel/src/testing/test_handler.rs
  contracts/os/andromeda-kernel/src/testing/tests.rs
  packages/std/src/amp/messages.rs
Labels: packages/std

#820 ref: Kernel Handle Local
  CHANGELOG.md
  contracts/finance/andromeda-fixed-amount-splitter/src/contract.rs
  contracts/finance/andromeda-fixed-amount-splitter/src/interface.rs
  contracts/os/andromeda-adodb/src/interface.rs
  contracts/os/andromeda-kernel/src/contract.rs
  contracts/os/andromeda-kernel/src/execute.rs
  contracts/os/andromeda-kernel/src/lib.rs
  contracts/os/andromeda-kernel/src/testing/mod.rs
  contracts/os/andromeda-kernel/src/tests/ibc_direct_tests.rs
  contracts/os/andromeda-kernel/src/tests/ibc_transfer_funds_test.rs
  contracts/os/andromeda-kernel/src/tests/kernel_functional_tests.rs
  contracts/os/andromeda-kernel/src/tests/mod.rs
  contracts/os/andromeda-kernel/src/tests/test_handler.rs
  packages/andromeda-finance/src/fixed_amount_splitter.rs
  packages/std/src/amp/messages.rs
  packages/std/src/common/code_id.rs
  packages/std/src/common/message_generators.rs
  packages/std/src/common/mod.rs
  packages/std/src/os/kernel.rs
  tests/crowdfund_app.rs
  tests/kernel.rs
Labels: packages/std

#838 feat: add cw-json crate
  Cargo.lock
  Cargo.toml
  contracts/data-storage/andromeda-primitive/src/testing/mock.rs
  contracts/finance/andromeda-conditional-splitter/src/testing/tests.rs
  contracts/finance/andromeda-fixed-amount-splitter/src/testing/tests.rs
  contracts/finance/andromeda-rate-limiting-withdrawals/src/testing/tests.rs
  contracts/finance/andromeda-splitter/src/testing/tests.rs
  contracts/finance/andromeda-timelock/src/testing/tests.rs
  contracts/finance/andromeda-validator-staking/src/testing/tests.rs
  contracts/finance/andromeda-vesting/src/testing/tests.rs
  contracts/fungible-tokens/andromeda-cw20-staking/src/testing/mock_querier.rs
  contracts/fungible-tokens/andromeda-cw20-staking/src/testing/tests.rs
  contracts/fungible-tokens/andromeda-cw20/src/testing/mock_querier.rs
  contracts/fungible-tokens/andromeda-cw20/src/testing/tests.rs
  contracts/fungible-tokens/andromeda-lockdrop/src/testing/tests.rs
  contracts/fungible-tokens/andromeda-merkle-airdrop/src/testing/mock_querier.rs
  contracts/fungible-tokens/andromeda-merkle-airdrop/src/testing/tests.rs
  contracts/math/andromeda-counter/src/testing/mock.rs
  contracts/math/andromeda-curve/src/testing/mock.rs
  contracts/math/andromeda-graph/src/testing/mock.rs
  contracts/math/andromeda-graph/src/testing/mock_querier.rs
  contracts/math/andromeda-shunting/Cargo.toml
  contracts/math/andromeda-shunting/src/contract.rs
  contracts/math/andromeda-shunting/src/testing/tests.rs
  contracts/modules/andromeda-rates/src/testing/tests.rs
  contracts/modules/andromeda-schema/Cargo.toml
  contracts/modules/andromeda-schema/src/contract.rs
  contracts/modules/andromeda-schema/src/execute.rs
  contracts/modules/andromeda-schema/src/state.rs
  packages/andromeda-cw-json/Cargo.toml
  packages/andromeda-cw-json/README.md
  packages/andromeda-cw-json/src/error.rs
  packages/andromeda-cw-json/src/json.rs
  packages/andromeda-cw-json/src/lib.rs
  packages/andromeda-cw-json/src/test.rs
Labels: ci: skip-changelog, ci: skip-build, packages/std

#846 fix: handle local now uses resolved AndrAddr to send SubMsg
  CHANGELOG.md
  Cargo.lock
  contracts/finance/andromeda-conditional-splitter/src/testing/tests.rs
  contracts/finance/andromeda-fixed-amount-splitter/src/testing/tests.rs
  contracts/finance/andromeda-splitter/src/testing/tests.rs
  contracts/non-fungible-tokens/andromeda-crowdfund/src/testing/tests.rs
  contracts/os/andromeda-kernel/Cargo.toml
  contracts/os/andromeda-kernel/src/execute.rs
  contracts/os/andromeda-kernel/src/tests/test_handler.rs
  packages/std/src/amp/messages.rs
Labels: packages/std
