Repository andromedaprotocol/andromeda-core, pull requests merged in 2025-02, with the labels that each got.

#798 fix: Andr Macros Adjustments
  Cargo.lock
  Cargo.toml
  contracts/non-fungible-tokens/andromeda-crowdfund/Cargo.toml
  contracts/non-fungible-tokens/andromeda-crowdfund/src/contract.rs
  packages/andromeda-non-fungible-tokens/Cargo.toml
  packages/andromeda-non-fungible-tokens/src/auction.rs
  packages/andromeda-non-fungible-tokens/src/marketplace.rs
  packages/std/Cargo.toml
  packages/std/src/common/denom.rs
Labels: ci: skip-changelog

#723 Cw20 kernel routing
  CHANGELOG.md
  Cargo.lock
  contracts/finance/andromeda-fixed-amount-splitter/Cargo.toml
  contracts/finance/andromeda-fixed-amount-splitter/src/contract.rs
  contracts/finance/andromeda-splitter/Cargo.toml
  contracts/finance/andromeda-splitter/src/contract.rs
  contracts/os/andromeda-kernel/Cargo.toml
  contracts/os/andromeda-kernel/src/contract.rs
  contracts/os/andromeda-kernel/src/execute.rs
  packages/std/Cargo.toml
  packages/std/src/amp/messages.rs
  packages/std/src/os/kernel.rs
Labels: packages/std

#801 Update pull_request_template.md
  .github/pull_request_template.md
Labels: ci: skip-changelog, ci: skip-build

#802 fix: Duplicate Relay in Kernel
  CHANGELOG.md
  Cargo.lock
  contracts/modules/andromeda-schema/src/query.rs
  contracts/os/andromeda-kernel/Cargo.toml
  contracts/os/andromeda-kernel/src/execute.rs
  contracts/os/andromeda-kernel/src/testing/tests.rs
  packages/deploy/src/os.rs
  packages/std/Cargo.toml
  packages/std/src/os/kernel.rs
Labels: packages/std

#812 feat: Permissionless Macro
  CHANGELOG.md
  Cargo.lock
  contracts/non-fungible-tokens/andromeda-auction/Cargo.toml
  contracts/non-fungible-tokens/andromeda-auction/src/testing/tests.rs
  e2e-tests/tests/macro_tests/attrs.rs
  packages/std/macros/Cargo.toml
  packages/std/macros/src/attrs/mod.rs
  packages/std/macros/src/attrs/permissionless.rs
  packages/std/macros/src/execute.rs
  packages/std/src/ado_contract/execute.rs
  packages/std/src/common/actions.rs
Labels: packages/std

#816 feat: batch send NFT
  CHANGELOG.md
  Cargo.lock
  contracts/non-fungible-tokens/andromeda-cw721/Cargo.toml
  contracts/non-fungible-tokens/andromeda-cw721/src/contract.rs
  contracts/non-fungible-tokens/andromeda-cw721/src/mock.rs
  contracts/non-fungible-tokens/andromeda-cw721/src/testing/mod.rs
  packages/andromeda-non-fungible-tokens/src/cw721.rs
  packages/std/src/error.rs
  tests/cw721.rs
  tests/mod.rs
Labels: packages/std
