Repository andromedaprotocol/andromeda-core, pull requests merged in 2025-08, with the labels that each got.

#936 feat: add update minter to cw20
  Cargo.lock
  contracts/fungible-tokens/andromeda-cw20/Cargo.toml
  contracts/fungible-tokens/andromeda-cw20/src/contract.rs
  packages/andromeda-fungible-tokens/Cargo.toml
  packages/andromeda-fungible-tokens/src/cw20.rs
Labels: ci: skip-changelog

#855 feat: Permissioning Frequency
  CHANGELOG.md
  Cargo.lock
  contracts/data-storage/andromeda-boolean/src/contract.rs
  contracts/data-storage/andromeda-form/src/contract.rs
  contracts/finance/andromeda-validator-staking/src/mock.rs
  contracts/fungible-tokens/andromeda-cw20/src/testing/tests.rs
  contracts/fungible-tokens/andromeda-exchange/src/testing/tests.rs
  contracts/fungible-tokens/andromeda-merkle-airdrop/src/contract.rs
  contracts/math/andromeda-curve/src/contract.rs
  contracts/math/andromeda-matrix/src/contract.rs
  contracts/modules/andromeda-address-list/src/contract.rs
  contracts/modules/andromeda-address-list/src/mock.rs
  contracts/modules/andromeda-address-list/src/testing/tests.rs
  contracts/non-fungible-tokens/andromeda-auction/src/contract.rs
  contracts/non-fungible-tokens/andromeda-auction/src/mock.rs
  contracts/non-fungible-tokens/andromeda-auction/src/testing/tests.rs
  contracts/non-fungible-tokens/andromeda-crowdfund/src/contract.rs
  contracts/non-fungible-tokens/andromeda-cw721/src/contract.rs
  contracts/non-fungible-tokens/andromeda-marketplace/src/contract.rs
  contracts/non-fungible-tokens/andromeda-marketplace/src/mock.rs
  contracts/non-fungible-tokens/andromeda-marketplace/src/testing/tests.rs
  contracts/os/andromeda-ibc-registry/src/contract.rs
  packages/andromeda-modules/src/address_list.rs
  packages/andromeda-non-fungible-tokens/src/auction.rs
  packages/std/macros/src/execute.rs
  packages/std/src/ado_base/permissioning.rs
  packages/std/src/ado_contract/execute.rs
  packages/std/src/ado_contract/permissioning.rs
  packages/std/src/ado_contract/state.rs
  packages/std/src/common/denom.rs
  tests/Cargo.toml
  tests/address_list.rs
  tests/amp/access_control.rs
  tests/auction_app.rs
  tests/crowdfund_app.rs
  tests/cw721.rs
  tests/kernel_orch.rs
  tests/marketplace_app.rs
  tests/mod.rs
  tests/validator_staking.rs
Labels: packages/std

#958 Added requested changes
  Cargo.lock
  contracts/socket/andromeda-socket-astroport/Cargo.toml
  contracts/socket/andromeda-socket-astroport/src/contract.rs
  contracts/socket/andromeda-socket-astroport/src/state.rs
  contracts/socket/andromeda-socket-osmosis/src/contract.rs
  contracts/socket/andromeda-socket-osmosis/src/state.rs
  packages/andromeda-socket/src/astroport.rs
  tests/e2e/tests/socket_astroport_pool.rs
Labels: ci: skip-changelog

#896 fix: save app_contract address during init
  CHANGELOG.md
  contracts/app/andromeda-app-contract/src/mock.rs
  packages/std/src/ado_contract/execute.rs
  tests/app.rs
Labels: bug, packages/std
